*{
    padding: 0;
    margin: 0;
}

li{
    text-transform: uppercase;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin: 20px;
    top: 0;
    left: 0;
    right: 0;
}

.logo{
    width: 100px;
    height: 30px;

}

.nav-links{
    display: flex;
}

.nav-links li{
    list-style-type: none;
    /* margin-left: 10px;
    margin-right: 10px; */
    margin: 0 10px ;
}

.show{
    overflow-x: hidden;
    width: 100vw;
    height:  100vh;
    background-image: url("https://raw.githubusercontent.com/swwayam/tesla/main/public/images/model-s.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

.btn-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btn{
    padding: 10px 0;
    margin: 0 10px;
    width: 250px;
    border-radius: 20px;
    border: none;
}


.btn-black{
    background-color: #00000082;
    color: #fff;
}

.btn-gray{
    background-color: #d6d4d4;
}


.arrow{
    margin-top: 40px;
    width: 40px;
    margin-bottom: 20px;
    animation-name: upDown;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
}



@keyframes upDown {
    0%, 20%,50%, 80%,100%{
        transform: translateY(0);
    }
    
    40%{
        transform: translateY(5px);
    }
    60%{
        transform: translateY(3px);
    }
}